<%
    var title = '';
    if (page.category) title = page.category;
    if (page.tag) title = "#" + page.tag;
    if (page.archive) {
        if (page.year) title = page.year + (page.month ? '/' + page.month : '');
        else title = __('archive_a');
    }
%>

<!-- Page Header -->
<!-- Set your background image for this header in the theme's configuration: index_cover -->
<header class="intro-header" style="background-image: url('<%- theme.index_cover %>')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1><%- title %></h1>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->

<div class="shark-container">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div id="archive">
                    <ul class="post-list">
                    <% var year = 0 %>
                    <% var change = false %>
                    <!--% var field_sort = theme.archive.sort_updated ? 'updated' : 'date' %-->
                    <% var field_sort = 'date' %>
                    <% page.posts.sort(field_sort, 'desc').each(function(post) { %>
                        <% var itemYear = date(post[field_sort], 'YYYY') - 0 %>
                        <% change = year !== itemYear %>
                        <% year = change ? itemYear : year %>
                        <% if (change) { %>
                        <h2><%= year %></h2>
                        <hr>
                        <% } %>
                        <li class="post-item">
                        <span><%- partial('_partial/post/title', { post: post, index: true, class_name: '' }) %></span>
                        <%- partial('_partial/post/date', { post: post, class_name: 'meta' }) %>
                        </li>
                    <% }); %>
                    </ul>
                    <%- partial('_partial/pagination') %>
                </div>
            </div>
        </div>
    </div>
</div>
